@import "setup";
@import "variables";

html {
  padding: 50px;
  background-color: $desktop;
  font-family: 'VT323', monospace;
}

.window {
  border: 3px outset $system;
  background: #fff;
  padding: 0;
}

canvas {
  width: 800px;
  height: 600px;
  border: 1px solid black;
}
